@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Track your quests!</h1>
    <p><i>"A <b>true</b> hero always keeps track of their tasks and objectives with a trusty to-do list by their side."</i></p>
</div>
